.carousel-inner img{
  width: 100%;
  height: 100%;
}

.text-white{
  color: #FFF;
  font-size: 1.3em;
  background-color: #0a014fff;
  margin-left: 2px;
  border-radius: 5px;
}

.scroll-nav{
  background-color: #0a014fff; /*Color azul IEEE */
  padding: 5px;
  font-size: 0.8em;
}

.scroll-logo{
  height: 50px;
}

.text-white .navbar-toggler{
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.continerMedio{
  padding: 10px;
  width: 50%;    
}

.continerTercio{
  width: 33%;   
  margin: auto;
}

.redes{
  overflow: scroll;
  height: 320px;
  width: auto;
}

.sky-blue{
  background-color: #56CBF9;
}

#map{
  margin: auto;
}

.page-section{
  padding: 50px;
}